body {

margin:0;
font-family:Arial;
background:#f4f7fb;

}


nav{

display:flex;
justify-content:space-between;
padding:20px;
background:#0b3d91;
color:white;

}


.hero{

display:flex;
justify-content:space-around;
align-items:center;
background:#0b3d91;
color:white;
padding:100px;

}


.hero img{

width:300px;

}


button{

background:white;
color:#0b3d91;
padding:15px;
border:none;
cursor:pointer;

}


.company,
.products,
.certifications{

text-align:center;
padding:60px;

}


footer{

background:#0b3d91;
color:white;
text-align:center;
padding:20px;

}
